#wrap_container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.button_play,
.scroll_data {
  display: inline-grid;
}
.button_play {
  padding: 10px;
}

.scroll_data {
  width: 90%;
}
.scroll_data_display {
  margin-left: 20px;
}

#parent {
  list-style: none;
  width: 100%;

  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  transition: 120s linear;
  -webkit-animation: animateFirstList 120s linear;
  animation: animateFirstList 120s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform: translateX(0);
}

#parent > li {
  display: inline-block;
  margin-left: 10px;
  background-color: white;
}

.positive_inline_sybmol {
  color: green;
  display: inline-block;
}
.negative_inline_sybmol {
  color: red;
  display: inline-block;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
